body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.image-container {
  position: relative;
  margin-bottom: 5px;
  &:hover {
    .theme-image {
      opacity: 0.3;
    }
  }
}

.theme-image {
  height: 180px;
  background-size: cover;
  border-radius: 4px;
  background-position: center center;
  transition: opacity 0.1s linear;
}

// Header.scss
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
}

.logo {
  font-size: 24px;
}

.search-container {
  display: flex;
}

input[type="text"] {
  padding: 5px;
  margin-right: 10px;
}

button {
  padding: 5px 10px;
  background-color: #555;
  color: #fff;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #777;
}

// SearchInput.scss
.search-input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.search-input {
  padding: 10px;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 5px;
  width: 300px;
  outline: none;
  transition: all 0.3s ease;
  background-color: #f2f2f2; /* Gray theme */
  color: #333; /* Text color */

  &.focused {
    width: 400px; /* Increase width when focused */
    font-size: 18px; /* Increase font size when focused */
    border-color: dodgerblue; /* Change border color when focused */
    animation: grow 0.3s ease; /* Apply grow animation */
  }

  &:focus {
    border-color: dodgerblue; /* Keep border color on focus */
  }
}

@keyframes grow {
  from {
    width: 300px;
    font-size: 16px;
  }
  to {
    width: 400px;
    font-size: 18px;
  }
}

